/*menu*/
ul {
    margin-top: 1rem;
    padding: 1rem;
}

.a-manu{
    text-decoration: none;
    font-family: sans-serif ;
}

a:hover {
    background: rgba(0, 0, 0, .05);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8F8FF;
    box-shadow: 0px 1px 3px #dcdcdc;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    margin: 2rem 30px 1rem 1px;
}

#menu a {
    display: block;
    padding: .5rem;
    font-size: 13px;
    color: #555;
    text-decoration: none;
}

#btn-mobile {
    display: none;
}
.button-menu{
    background: #2bc470;
    border-radius: 6px;
    padding: .375rem .75rem;
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.618;
    display: inline-flex;
}

@media (max-width: 990px) {
    #menu {
       display: block;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background: #e7e7e7;
       transition: 1s;
       z-index: 1000;
       height: 0px;
       visibility: hidden;
       overflow-y: hidden;
    }
    #nav.active #menu{
        height: 50vh;
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*Downloads*/
#section-down{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 73vh;
    background-color: white;
}
.h1-servico{
    text-align: center;
    font-family: 'candara';
}
.accordion{
    /*max-width: 800px;*/
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    text-align: center;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
    text-align: center;
}
.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background: white;
    color: #2575fc;
    cursor: pointer;
    text-align: center;
    border: #2575fc solid 1px;
}
.accordion .contentBx .label::before{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .contentBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .content{
    height: 150px;
    padding: 10px;
}
#button-down{
    background-color: #44A5FF;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: none;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-width: 50px;
    max-width: 450px;
}
#button-down:hover{
    opacity: .75;
}
#h2-down{
    color: #3089DD;
    font-weight: 500;
    font-size: 41px;
}
#p-down{
    color: #3c4858;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: bold;
}
#button-p{
    width: 100%;
    max-width: 130px;
    min-width: 50px;
    background-color: #0AB17B;
    color: white;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
#button-p:hover{
    opacity: .75;
}

/*Footer*/
.footer{
    font-weight: 400;
    background-color: #323437;
    padding: 10px 0;
    margin-bottom: 0;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #646464;
    margin-bottom: 0%;
}