*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
/*menu*/
ul {
    margin-top: 1rem;
    padding: 1rem;
}

.a-manu{
    text-decoration: none;
    font-family: sans-serif ;
}

a:hover {
    background: rgba(0, 0, 0, .05);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8F8FF;
    box-shadow: 0px 1px 13px #dcdcdc;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    margin: 2rem 30px 1rem 1px;
}

#menu a {
    display: block;
    padding: .5rem;
    font-size: 13px;
    color: rgb(19, 18, 18);
    text-decoration: none;
}

#btn-mobile {
    display: none;
}
.button-menu{
    background: #2bc470;
    border-radius: 6px;
    padding: .375rem .75rem;
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.618;
    display: inline-flex;
}

@media (max-width: 990px) {
    #menu {
       display: block;
       position: absolute;
       width: 100%;
       top: 70px;
       right: -13px;
       background: #e7e7e7;
       transition: 1s;
       z-index: 1000;
       height: 0px;
       visibility: hidden;
       overflow-y: hidden;
    }
    #nav.active #menu{
        height: 50vh;
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
/*Botão Whats*/
.aWhats{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.aWhats:hover{
    background-color: #25d366;
    color: #fff;
    opacity: .75;
}
.fa-whatsapp{
    margin-top: 16px;
}

/*Serviços*/
#main-servicos{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sectionS{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: white
}
.h1-servico{
    margin-top: 30px;
    text-align: center;
    color: #2575fc;
    font-size: 30px;
    font-family: 'Poppins';
}
#h1-servicos{
    margin-top: 23px;
    text-align: center;
    color: #2575fc;
    font-size: 30px;
    font-family: 'Poppins';
}
.accordion{
    max-width: 600px;
    text-align: center;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBx .label{
    border: #2575fc solid 1px;
    position: relative;
    padding: 10px;
    background: transparent;
    color: #2575fc;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}
.accordion .contentBx .label::before{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .contentBx .content{
    position: relative;
    background: transparent;
    height: 0;
    transition: 0.5s;
    overflow: auto;
}
.accordion .contentBx.active .content{
    height: 200px;
    padding: 10px;
}
.pformulario{
    text-align: left;
    font-family:'Poppins';
    font-size: 15px;
    color: #1464f0;
}
::-webkit-scrollbar-thumb{
    background-color: #1d1d1d;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: aqua;
}


/*Footer*/
.footer{
    bottom: 0px;
    width: 100%;
    font-weight: 400;
    background-color: #323437;
    padding: 10px 0;
    margin-bottom: 0;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #646464;
    margin-bottom: 0%;
}
#sac{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #dad5d5;
    margin-bottom: 0%;
}
